NET   "ddr3_addr[0]"                           LOC = "H25"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "K28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "L22"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "H23"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "G21"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "J21"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "K24"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "G27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "G24"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "M24"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "J27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "G26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "H24"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "L24"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "G22"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "G29"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "H21"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "K25"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "L25"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "J23"   |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "K23"   |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cke[0]"                            LOC = "M22"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cs_n[0]"                           LOC = "J28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "B36"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "D36"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "E32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "D35"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "B33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "C33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "B32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "E35"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "F36"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "E34"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "D37"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "A36"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "F37"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "D38"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "H33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "F34"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "J37"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "G38"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "H38"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "J38"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "G37"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "H36"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "A37"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "G36"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "E37"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "B26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "A25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "C23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "B27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "A24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "B22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "A22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "B23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "C38"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "E23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "F22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "D23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "E22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "E24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "D22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "D26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "D25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "D28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "C28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "A35"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "C29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "A29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "A31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "A32"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "D27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "A30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "E29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "F29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "C30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "F31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "B34"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "F27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "E30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "D30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "F26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[64]"                            LOC = "N23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[65]"                            LOC = "P21"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[66]"                            LOC = "P26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[67]"                            LOC = "P25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[68]"                            LOC = "N26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[69]"                            LOC = "L27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "A34"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[70]"                            LOC = "N24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[71]"                            LOC = "N25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "C39"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "C34"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "D32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "A39"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "D33"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "F32"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "E39"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "A27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "E25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "B29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "E28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[8]"                          LOC = "P23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "B39"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "E33"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "G32"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "F39"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "A26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "F25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "B28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "E27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[8]"                          LOC = "P22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "H26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ras_n"                             LOC = "J26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "L26"   |     IOSTANDARD = LVCMOS15             |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "G28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
